/* fargerike ord */
:root {
  --color-choice-a: rgb(0, 234, 183);
  --color-choice-b: green;
  --color-choice-c: blue;
}

.bg-color-a {
  background-color: var(--color-choice-a);
}

.bg-color-b {
  background-color: var(--color-choice-b);
}

.bg-color-c {
  background-color: var(--color-choice-c);
}


.text-green {
  color: rgb(0, 86, 0);
}

/* Ord for Størrelse */

.text-large {
  font-size: xx-large;
}

.padding-medium {
  padding: 2rem;
}

.rounded {
  border-radius: 8px;
}


/* Overskrive standard CSS */
button {
  border: none;
}

/* ord for form */
.raised {
  box-shadow: 1px -4px 6px 9px rgba(0, 0, 0, 0.4)
  , inset 1px 4px 5px rgba(255, 255, 255, 0.5);
}

/* Ord for Layout */
.flex-column {
  display: flex;}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-small {
  gap: 1rem;
}

.active\:sunken:active {
  box-shadow:
  inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.sunken {
  box-shadow:
  inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

/* ORd for effekter */
.hover\:lysne:hover {
  filter: brightness(1.3)
}